{% assign members = site.data.sponsors.members %}

<div id="members">

	<h2>Member Companies</h2>

	<p>Bitcoin Optech is supported by our member companies.</p>

	<ul class="members n-column-list">
	{% for member in members %}
	{% assign logo=member.logo %}
	{% unless member.logo contains 'https://' %}{% capture logo %}/img/members/{{member.logo}}{% endcapture %}{% endunless %}
	<li>
		<div style="max-height:75px;min-height:75px;display:flex;align-items:center">
		<a href="https://twitter.com/{{ member.twitter }}"><img src="{{ logo }}" width="150" alt="{{ member.name }}" title="{{ member.name }}"></a>
		</div>
	</li>
	{% endfor %}
	</ul>
</div>
