---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import "vendor/font-awesome/font-awesome";

.post-meta {
    text-align: center;
}

hr {
    margin-bottom: 20px;
}

h2 {
    margin-top: 2em;
    // A subhead always starts a new row of content, so clear any
    // floating elements
    clear: both;
    // And tell any flexboxes that we don't want to share space with
    // other content
    width: 100%;
}

br.clear {
    clear: left;
}

ul.n-column-list {
        margin-top: 2em;
}

.n-column-list li {
        list-style: none;
        float: left;
        width: 12em;
        text-align: left;
        margin-bottom: 20px;
        margin-left: 2em;
}

ul.associates {
    margin-left: 0;

    li {
        min-height: 34em;
        margin-left: 1em;
        width: 14em;
    }
}

// Enable this if you want to use a n-column list with FontAwesome
// icons replacing the bullets
//.n-column-list .fa-li {
//        top: 0.75em;
//}

p.sponsor-quote {
        font-style: italic;
	margin-top: 20px;
        font-size: 12px;
}

.sponsors h3 {
        font-weight: 700;
        font-size: 120%;
	margin-bottom: 0;
}

// The long text quotes make this application of a n-column list
// desire more vertical spacing between the quotes
.sponsors li {
        margin-bottom: 60px;
}

.bio-photo {
        border: solid 4px #fff;
        max-width: 100%;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}

.author-role {
        margin-bottom: 0;
}

a.site-title {
    width: 8em;
}

.home .content {
    margin-top: 2em;

    > .logo {
        width: 20%;
        min-width: 8em;
        float: right;
        display: inline-block;
        margin-left: 1.3em;
        margin-bottom: 1.3em;
        margin-right: 1.3em;
    }
}

#mc_embed_signup {
    clear:left;
    font:14px Helvetica,Arial,sans-serif;
}

.mc-input {
   position: absolute;
   left: -5000px;
}
