---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import "vendor/font-awesome/font-awesome";

$compatibility-feature-yes: #c0ceff;
$compatibility-feature-no: #f8ffc0;

.center {
    text-align: center;
}
.right {
    text-align: right;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}

.post-meta {
    text-align: center;
}

hr {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 1em;
    // A subhead always starts a new row of content, so clear any
    // floating elements
    clear: both;
    // And tell any flexboxes that we don't want to share space with
    // other content
    width: 100%;
}

br.clear {
    clear: left;
}

ul.n-column-list {
        margin-top: 2em;
}

.n-column-list li {
        list-style: none;
        float: left;
        width: 12em;
        text-align: left;
        margin-bottom: 20px;
        margin-left: 2em;
}

ul.contributors {
    margin-left: 0;

    li {
        min-height: 34em;
        margin-left: 1em;
        width: 14em;
    }
}

div#contributors_alum li {
  min-height: 19em;
}

// Enable this if you want to use a n-column list with FontAwesome
// icons replacing the bullets
//.n-column-list .fa-li {
//        top: 0.75em;
//}

p.sponsor-quote {
        font-style: italic;
	margin-top: 20px;
        font-size: 12px;
}

.sponsors h3 {
        font-weight: 700;
        font-size: 120%;
	margin-bottom: 0;
}

// The long text quotes make this application of a n-column list
// desire more vertical spacing between the quotes
.sponsors li {
        margin-bottom: 60px;
}

.bio-photo {
        border: solid 4px #fff;
        max-width: 100%;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}

.author-role {
        margin-bottom: 0;
}

a.site-title {
    width: 8em;
}

.home .content {
    margin-top: 2em;

    > .logo {
        width: 20%;
        min-width: 8em;
        float: right;
        display: inline-block;
        margin-left: 1.3em;
        margin-bottom: 1.3em;
        margin-right: 1.3em;
    }
}

#mc_embed_signup {
    clear:left;
    font:14px Helvetica,Arial,sans-serif;
}

.mc-input {
   position: absolute;
   left: -5000px;
}

.supporter {
    max-height:75px;
    min-height:75px;
    display:flex;
    align-items:center;
}

.callout {
  border: thin solid black;
  padding: 0.5em;
  
  h2, h3, h4 {
    text-align: center;
    font-size: 110%;
  }
}

div.xoverflow {
  overflow-x: auto;
}

.shrink80 {
  font-size: 80%;
  code { font-size: 80%; }
}

.wrapper{
    overflow-wrap: break-word;
}

.compat-list ul { list-style: none; }
.compat-list li::before {
  display: inline-block;
  width: 1.25em;
  margin-left: -1.25em;
  font-size: 125%;
}

.feature-yes li::before {
  content: "✓";
  color: darken($compatibility-feature-yes, 50%);
}
.feature-no li::before {
  content: "✕";
  color: darken($compatibility-feature-no, 50%);
}
.feature-neutral li::before {
  content: "≈";
  color: grey;
}

.third-party-logo
{
  max-height:150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:20px
}

@keyframes highlightfade {
    from { background: aqua; }
    to { background: transparent; }
}

:target {
    animation-name: highlightfade;
    animation-duration: 7s;
}

td.compat_yes, td.status_true {
  background-color: $compatibility-feature-yes;
}

td.compat_no, td.status_false {
  background-color: $compatibility-feature-no;
}

td.compat {
  margin: 0;
  padding: 0;
  font-size: 125%;
}

span.compat-caption {
  display: block;
  font-size: 75%;
  font-style: italic;
  line-height: 1.5;
  padding-top: 1ex;
}

table.compatibility
{
  margin: 0 auto;
  width: unset;
}

div.compat-usability
{
  max-width: 300px; float: left; padding: 20px; text-align: center;
}

div.compat-usability img
{
  width:100%;
  border: thin solid silver;
}

.site-nav .page-link:not(:last-child) 
{
  margin-right: 10px;
}

div.localization
{
  text-align: right;

  a.no-translation {
    font-style: italic;
    color:gray;
  }
}

.pc125 {
  font-size: 125%;
}

.anchor-list {
  list-style: none;
}

.anchor-list-link {
  margin-left: -13px;
}

ul.li {
  list-style: disc;
}

:not(.email).qa_details ul {
  list-style-type: none;
}

.qa_details details {
  border: thin solid silver;
  margin: 2pt;
  padding: 2pt;
}

.qa_details details summary {
  font-style: italic;
  cursor: pointer;
}

.bold {
  font-weight: 700;
}
