---
layout: post
---
{% capture newline %}
{% endcapture %}
{% capture /dev/null %}
  <!-- Get links for previous and next pages -->
  {% include linkers/prevnext.md entries=site.covprops %}

  <!-- Build natural sentence-style list of aliases for this page's topic -->
  {% if page.aliases != nil %}
    {% assign num_aliases = page.aliases | size %}
    {% capture aliases %}{:.center}{{newline}}*Also covering&nbsp;{% endcapture %}
    {% if num_aliases > 2 %}
      {% for alias in page.aliases %}
        {% if forloop.last %}
          {% capture aliases %}{{aliases}}, and {{alias}}{% endcapture %}
        {% elsif forloop.first %}
          {% capture aliases %}{{aliases}}{{alias}}{% endcapture %}
        {% else %}
          {% capture aliases %}{{aliases}}, {{alias}}{% endcapture %}
        {% endif %}
      {% endfor %}
    {% else %}
      {% capture aliases %}{{aliases}}{{page.aliases | join: ' and '}}{% endcapture %}
    {% endif %}
    {% assign aliases = aliases | append: '*' %}
  {% endif %}

  <!-- Build list of primary sources -->
  {% for source in page.primary_sources %}
    {%- if source.link contains 'http://' or source.link contains 'https://' -%}
      {% capture reference %}[{{source.title}}]({{source.link}}){% endcapture %}
    {%- else -%}
      {% capture reference %}[{{source.title}}][{{source.link}}]{% endcapture %}
    {%- endif -%}
    {% capture primary_sources %}{{primary_sources}}{{newline}}- {{reference}}{% endcapture %}
  {% endfor %}

  <!-- Build list of internal optech mentions -->
  {% assign references = '' %}
  {% for mention in page.optech_mentions %}
    {% if mention.feature == true %}
      {% assign bold = '{:.bold}' %}
    {% else %}
      {% assign bold='' %}
    {% endif %}
    {% include functions/get-mention-date.md %}
    {% capture references %}{{references}}{{date}}- [{{mention.title}}]({{mention.url}}){{bold}}ENDENTRY{% endcapture %}
  {% endfor %}

  <!-- Build list of see also entries -->
  {% for source in page.see_also %}
    {%- if source.link contains 'http://' or source.link contains 'https://' -%}
      {% capture reference %}[{{source.title}}]({{source.link}}){% endcapture %}
    {%- else -%}
      {% capture reference %}[{{source.title}}][{{source.link}}]{% endcapture %}
    {%- endif -%}
    {% capture see_also %}{{see_also}}{{newline}}- {{reference}}{% endcapture %}
  {% endfor %}

  <!-- Variable for use in links -->
  {% capture gh_base %}https://github.com/{{site.github_username}}/{{site.repository_name}}{% endcapture %}

  <!-- whether or not to display a stub notice -->
  {% assign word_count = page.content | number_of_words %}
  {% if page.stub != false %}
    <!-- if any words, not a stub.  We may increase word count later -->
    {% if word_count < 1 or page.stub == true %}
      {% capture notices %}{{notices}}{% include snippets/stub-topic.md %}{% endcapture %}
    {% endif %}
  {% endif %}

{% endcapture %}

<!-- Actual page content -->
{% capture content %}
  {% include references.md %}
  {{aliases}}

  {{page.excerpt}}

  [Learn more]({{page.topic_page_or_best_reference}})

  {{page.content}}

  {{notices | default: newline}}

  {{- '## Applications enabled' }}

  *Applications that would be enabled if {{page.shortname}} was added to
  Bitcoin.  Click any application name to see more information.  ✓ =
  code available; ✓✓ = example transactions available.*

  {% for app in site.covapps %}
  {% assign app_status = page.covenant_based_apps[app.uid] %}

  {% assign evidence = "" %}
  {% assign evidence_details = "" %}
  {% if app_status.example_code contains "http" %}
    {% assign evidence = "✓" %}
    {% capture evidence_details %}- [Example code]({{app_status.example_code}}) using {{page.shortname}} to enable {{app.title}}{% endcapture %}
  {% endif %}
  {% if app_status.example_txes contains "http" %}
    {% assign evidence = "✓✓" %}
  {% endif %}

  {% if app_status.enabled == "true" %}
  <details markdown="block"><summary markdown="span">**{{app.title}}&nbsp;{{evidence}}**</summary>
  {{app.excerpt}}

  [Learn more about {{app.title}}]({{app.url}})<br>
  </details>
  {%- elsif app_status.enabled == "unknown" -%}
  {%- elsif app_status.enabled != "false" -%}
  ERROR_APP_STATUS_NOT_DEFINED={{app.title}}
  {% endif %}

  {% endfor %}


  {%- if page.implementations.size > 0 -%}
  <h2>Implementations</h2>

    {%- for implementation in page.implementations -%}
      * [{{implementation.name}}]({{implementation.reference}}){% if implementation.can_lose_significant_money == true %} (production){% endif %}{{newline}}
    {%- endfor -%}
  {%- endif -%}


  {%- if page.primary_sources and page.primary_sources != '' -%}
    ## Primary code and documentation

    {{primary_sources}}
  {% endif %}{{newline}}{{newline}}

  {%- if page.optech_mentions and page.optech_mentions != '' -%}
    ## Optech newsletter and website mentions

    {% assign sorted_references = references | split: 'ENDENTRY' | sort | reverse %}
    {%- for reference in sorted_references -%}
      {%- assign current_ref_year = reference | slice: 0, 4 -%}
      {%- if current_ref_year != last_ref_year -%}
        {{newline}}{{newline}}**{{current_ref_year}}**
      {%- endif -%}
      {{newline}}{{reference | slice: 10, 9999999999 }}
      {%- assign last_ref_year = current_ref_year -%}
    {%- endfor -%}
  {% endif %}{{newline}}{{newline}}

  {%- if page.see_also and page.see_also != '' -%}
    ## See also

    {{see_also}}
  {% endif %}

  <br>{{newline}}{{newline}}
<span class="float-left" markdown="1">**Previous Topic:**<br>{{prev_link}}</span>
<span class="float-right" markdown="1">**Next Topic:**<br>{{next_link | default: first_link }}</span>

  {:.center}
  [Edit page]({{gh_base}}/edit/master/{{page.path}})<br>
  [Report Issue]({{gh_base}}/issues/new?body={{'Source file: ' | append: page.path | url_escape }})
{% endcapture %}{{ content | markdownify }}
