---
layout: default
--- 
<link rel="stylesheet" href="/assets/css/main.css">

{% include functions/localization-finder.md %}

<article class="newsletter">
  <header class="post-header">
    {% if localizations.size > 0 %}
      <div class="localization">
        <a href="{{ '/en' | append:baseurl }}">en</a>
        {% for locale in localizations %}
          | <a href="{{ locale.url }}">{{locale.lang}}</a>
        {% endfor %}
      </div>
    {% endif %}
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
    </p>
  </header>
  <div class="post-content">
    {{ content }}
  </div>

{% include newsletter-signup.html %}

</article>
